<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <!-- https://github.com/mikecao/umami -->

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-QDQNY8YQ4T"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'G-QDQNY8YQ4T');
        </script>

        <!-- Title and Icon -->

        <title>FeatlyTalk, Free Video Calls, Messaging and Screen Sharing</title>
<link rel="shortcut icon" href="../images/imageedit_6_6038967838.png" />
        <link rel="apple-touch-icon" href="../images/imageedit_6_6038967838.png" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            name="description"
            content="FeatlyTalk  powered by WebRTC and mediasoup, Real-time Simple Secure Fast video calls, messaging and screen sharing capabilities in the browser."
        />
        <meta
            name="keywords"
            content="webrtc, featly, mediasoup, mediasoup-client, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, webrtc p2p, webrtc , video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, , rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting"
        />

        <!-- https://ogp.me -->

        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="FeatlyTalk " />
        <meta property="og:title" content="Click the link to make a call." />
        <meta
            property="og:description"
            content="FeatlyTalk  calling provides real-time video calls, messaging and screen sharing."
        />
        <meta property="og:image" content="https://featly.io/images/featlytalk.png" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" />
        <link rel="stylesheet" href="../css/landing.css" />

        <!-- Js scripts -->

        <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
        <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    </head>
    <body class="is-boxed has-animations">
       
        <div class="body-wrap landing main">
            <main>
                <section class="hero-logo">
                    <a class="logo" href="/">
                        <img class="header-logo-image" src="../images/wildcard-removebg-preview (1) (1).png"" alt="featlytalk-webrtc-logo" />

                    </a>
                </section>
                <section class="hero">
                    <div class="hero-inner">
                        <div class="hero-copy">
                            <h1 class="hero-title mt-0">
                                Chatspheres - Explore Topics, Engage Minds: Your Journey Begins at Chatspheres
                            </h1>
                            <button id="joinRoomButton" class="button-make-feat" onclick="joinRoom()">Make Feat</button>
                         <a class = "button-make-feat" href="https://chatspheres.com/views/joinurspheres.html">Join Rooms</a>

                          

                            <script>
                                function generateUUID() {
                                    // Generate random UUID v4
                                    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                                        var r = (Math.random() * 16) | 0,
                                            v = c === 'x' ? r : (r & 0x3) | 0x8;
                                        return v.toString(16);
                                    });
                                }

                                function joinRoom() {
                                    const roomName = generateUUID();
                                    window.location.href = '/join/' + roomName;
                                }
                            </script>
                        </div>
                        <div class="hero-main-image">

<!-- New images go here -->

                      <section class = "description">
                          <p>
                            Welcome to Chatspheres, the video chat community that brings people together around shared interests and passions. Imagine a world where Reddit meets live video communication; that's Chatspheres! Users can create or join rooms dedicated to topics they love, engaging in real-time conversations and debates. Whether you're a gaming enthusiast, a film buff, a cooking expert, or just someone looking to connect, there's a room for you. Dive into the vibrant spheres of dialogue and start exploring a whole new dimension of social interaction today! Also we are currently in beta phase your feedback would be appreciated!  
                          </p>

                      </section>
                            
                        </div>
                    </div>
                </section>
                <section class="hero-term-info">
                    <p>By starting to use the Featly service, you agree to the <a href="/terms">Terms of Use</a></p>
                    <span>© 2023 Featly Inc., all rights reserved</span>
                </section>
            </main>
        </div>

        <script defer src="../js/landing.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
