<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- https://github.com/mikecao/umami -->
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-QDQNY8YQ4T"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'G-QDQNY8YQ4T');
        </script>

        <!-- Title and Icon -->

        <title>FeatlyTalk SFU - Room Video Calls, Messaging and Screen Sharing.</title>
        <link rel="shortcut icon" href="../images/logo.jpg" />
        <link rel="apple-touch-icon" href="../images/logo.jpg" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
        <meta
            name="description"
            content="FeatlyTalk SFU powered by WebRTC and mediasoup, Real-time Simple Secure Fast video calls, messaging and screen sharing capabilities in the browser."
        />
        <meta
            name="keywords"
            content="webrtc, featly, mediasoup, mediasoup-client, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, webrtc p2p, webrtc sfu, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, sfu, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting"
        />

        <!-- https://ogp.me -->

        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="FeatlyTalk SFU" />
        <meta property="og:title" content="Click the link to make a call." />
        <meta
            property="og:description"
            content="FeatlyTalk SFU calling provides real-time video calls, messaging and screen sharing."
        />
        <meta property="og:image" content="https://talk.featly.io/images/featlytalksfu.png" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="../css/Room.css" />
        <link rel="stylesheet" href="../css/VideoGrid.css" />

        <!-- https://cdnjs.com/libraries/font-awesome -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

        <!-- https://animate.style 4 using for swal fadeIn-Out -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

        <!-- Bootstrap 5 -->

        <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3--bod.css" /> -->

        <!-- <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        /> -->
        <!-- <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script> -->

        <!-- Js scripts https://cdn.jsdelivr.net -->

        <script defer src="/socket.io/socket.io.js"></script>
        <script defer src="../sfu/MediasoupClient.js"></script>
        <script defer src="../js/LocalStorage.js"></script>
        <script defer src="../js/Rules.js"></script>
        <script defer src="../js/Room.js"></script>
        <script defer src="../js/RoomClient.js"></script>
        <script defer src="../js/SpeechRec.js"></script>
        <script defer src="../js/VideoGrid.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/detectrtc@1.4.1/DetectRTC.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/qrious@4.0.2/dist/qrious.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/fabric@5.3.0-browser/dist/fabric.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js"></script>
        <script defer src="https://unpkg.com/@popperjs/core@2"></script>
        <script defer src="https://unpkg.com/tippy.js@6"></script>
    </head>
    <body onload="initClient()">
        <noscript>You need to enable JavaScript to run this app.</noscript>

        <div id="initUser" class="init-user">
            <div class="video-box">
                <span>No camera or camera turned off</span>
                <div class="audio-box"></div>
                <video
                    id="initVideo"
                    playsinline="true"
                    autoplay=""
                    class="mirror"
                    style="object-fit: var(--videoObjFit)"
                ></video>

                <div class="init-buttons-box">
                    <div class="init-audio-button-box">
                        <button
                            id="initAudioButton"
                            class="fas fa-microphone-slash"
                            onclick="handleAudio(event)"
                        ></button>
                        <p>Switch <span>on</span> microphone</p>
                    </div>
                    <div class="init-video-button-box">
                        <button id="initVideoButton" class="fas fa-video-slash" onclick="handleVideo(event)"></button>
                        <p>Switch <span>on</span> camera</p>
                    </div>
                    <!-- <button id="initAudioVideoButton" class="fas fa-eye" onclick="handleAudioVideo(event)"></button> -->
                </div>
                <button id="initSettingButton" class="fa-solid fa-gear circle-button"></button>
            </div>

            <form class="init-input-error-box">
                <div class="input-box">
                    <input id="initInputName" required type="text" name="name" class="init-common" />
                    <label>Your name</label>
                </div>

                <button id="initSubmitButton" type="submit" class="init-common">Create Feat</button>
            </form>

            <span class="init-limit-text">Up to 10 members. No time limit</span>
            <span class="init-terms-text"
                >By starting to use the Featly service, you agree to the <a href="#">Terms of Use</a></span
            >
        </div>

        <div id="initSettingPopup" class="center-popup hidden">
            <div class="popup-title">
                <h2>Settings</h2>
                <button id="closeSettingPopupBtn" class="close-icon" onclick="hide(initSettingPopup)">
                    <img src="../images/icons/close_icon.svg" alt="close" />
                </button>
            </div>

            <div class="dropdown-box">
                <h3>Camera</h3>
                <select id="initVideoSelect" class="dropdown-select"></select>
            </div>

            <div class="dropdown-box">
                <h3>Microphone</h3>
                <select id="initMicrophoneSelect" class="dropdown-select"></select>
            </div>

            <div class="dropdown-box">
                <h3>Speaker</h3>
                <select id="initSpeakerSelect" class="dropdown-select"></select>
            </div>

            <div class="init-switch-box">
                <div class="init-switch-text">
                    <h3>Without sound and video</h3>
                    <span>Always join a meeting with your microphone and camera muted</span>
                </div>
                <label class="switch">
                    <input type="checkbox" checked />
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="init-switch-box">
                <div class="init-switch-text">
                    <h3>Only audio from members</h3>
                    <span>Always join a meeting with your microphone and camera muted</span>
                </div>
                <label class="switch">
                    <input type="checkbox" />
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

        <div id="invitePopup" class="invite-popup hidden">
            <div class="popup-title">
                <h2>Invite to a meeting</h2>
                <div id="closeInvitePopup" class="close-icon" onclick="hide(invitePopup)">
                    <img src="../images/icons/close_icon.svg" alt="close" />
                </div>
            </div>
            <span class="popup-sub-title">Maximum amount — 10 users</span>

            <div class="input-box">
                <div class="invite-popup-input"><span></span></div>
                <i id="inviteCopyLink" onclick="copyRoomURL()" class="fa-solid fa-clone"></i>
            </div>
            <button onclick="shareRoom(true)" class="init-common">Сopy invite</button>
        </div>

        <div id="globalLoader" class="hidden global-loader-box">
            <div class="connecting-box">
                <span class="loader"></span>
                <p>Connecting</p>
            </div>
        </div>

        <div id="snackbar" class="hidden">
            <span></span>
        </div>

        <header class="header">
            <img class="header-logo" src="../images/featlyLogo.svg" alt="logo" />
            <nav id="headerNav" class="header-nav">
                <a href="/">What is Featly?</a>
            </nav>
            <div id="headerCenterBlock" class="hidden header-center-block">
                <h1>Videomeeting</h1>
                <span id="headerTimer">00:00:00</span>
            </div>
            <div id="headerBurgerBtn" class="header-burger" onclick="toggleBurgerMenu()">
                <span></span>
            </div>
        </header>

        <div id="headerBurgerMenu" class="header-burger-menu">
            <button id="closeBurgerMenu" onclick="toggleBurgerMenu()">
                <img class="close-icon" src="../images/icons/close_icon.svg" alt="close" />
            </button>
            <a href="/">What is Featly?</a>
        </div>

        <div id="membersScreens" class="members-screens minify hidden">
            <div id="membersScreenHeader" class="members-screens-header">
                <h2 id="membersTitlePeerName">Name</h2>
                <div class="members-buttons-box">
                    <button id="minifyMembersScreens"><img src="../images/icons/arrow_up_icon.svg" alt="" /></button>
                    <!-- <button><img src="../images/icons/turn_icon.svg" alt="" /></button> -->
                </div>
            </div>
            <div class="members-screen" id="membersPeerScreen">
                <!-- <div id="membersProducerMicrophone" class="members-microphone">
                    <i class="fa-solid fa-microphone"></i>
                </div> -->
                <span id="membersPeerName"></span>
            </div>
        </div>

        <div id="control" class="hidden">
            <div class="button-box control-voice-button">
                <button id="startAudioButton" class="hidden"><i class="fas fa-microphone-slash"></i></button>
                <button id="stopAudioButton" class="hidden"><i class="fas fa-microphone"></i></button>
                <span>Voice</span>
            </div>
            <div class="button-box control-video-button">
                <button id="startVideoButton" class="hidden"><i class="fas fa-video-slash"></i></button>
                <button id="stopVideoButton" class="hidden"><i class="fas fa-video"></i></button>
                <span>Video</span>
            </div>

            <div class="mobile-hide"></div>

            <div class="button-box mobile-hide">
                <button id="participantsButton" class="hidden"><i class="fa-solid fa-user-group"></i></button>
                <span>Members</span>
            </div>

            <div class="button-box control-chat-button">
                <button id="chatButton" class="hidden">
                    <i class="fa-sharp fa-solid fa-comment-dots fa-flip-horizontal"></i>
                </button>
                <span>Chat</span>
            </div>

            <div class="button-box mobile-hide">
                <button id="startScreenButton" class="hidden">
                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                </button>
                <button id="stopScreenButton" class="hidden">
                    <i class="fas fa-stop-circle"></i>
                </button>
                <button id="swapCameraButton" class="hidden">
                    <i class="fas fa-camera-rotate"></i>
                </button>
                <span>Share</span>
            </div>

            <div class="button-box mobile-hide">
                <button id="showViewPopupBtn">
                    <i class="fa-solid fa-users-rectangle"></i>
                </button>
                <span>View</span>

                <div id="viewPopup" class="vertical-select-popup">
                    <div id="fullScreenView" class="vertical-select-item">
                        <img src="../images/icons/full_screen.svg" alt="" />
                        <span>Full screen</span>
                        <img class="vertical-select-item-done hidden" src="../images/icons/done_icon.svg" alt="" />
                    </div>

                    <div id="speakScreenView" class="vertical-select-item">
                        <img src="../images/icons/view.svg" alt="" />
                        <span>Speaks now</span>
                        <img class="vertical-select-item-done hidden" src="../images/icons/done_icon.svg" alt="" />
                    </div>

                    <div id="allScreenView" class="vertical-select-item">
                        <img src="../images/icons/all_view.svg" alt="" /> <span>All members</span>
                        <img class="vertical-select-item-done" src="../images/icons/done_icon.svg" alt="" />
                    </div>
                </div>
            </div>

            <!-- <div class="button-box mobile-hide">
                <button id="reactionButton" class="hidden">
                    <i class="fa-regular fa-face-smile-beam"></i>
                </button>
                <span>Reaction</span>
            </div> -->

            <div class="button-box mobile-hide">
                <button id="whiteboardButton" class="hidden"><i class="fa-solid fa-pencil"></i></button>
                <span>Board</span>
            </div>

            <div class="button-box control-more-button">
                <button id="settingsButton" class="hidden">
                    <i id="moreButtonIcon" class="fa-solid fa-ellipsis"></i>
                    <div id="moreButtonRec" class="circle-rec-box hidden"><div class="circle-rec"></div></div>
                </button>
                <span>More</span>

                <div id="morePopup" class="vertical-select-popup">
                    <div class="mobile-more-popup-box">
                        <h2>More</h2>
                        <img class="close-icon" src="../images/icons/close_icon.svg" alt="close" />
                    </div>

                    <div id="startRecButton" class="vertical-select-item desktop-element">
                        <img src="../images/icons/rec_icon.svg" alt="" />
                        <span>Record a meeting</span>
                    </div>

                    <div id="stopRecButton" class="vertical-select-item hidden">
                        <div class="circle-rec-box"><div class="circle-rec"></div></div>
                        <span>Stop record</span>
                    </div>

                    <div id="showSettingsBtn" class="vertical-select-item desktop-element">
                        <img src="../images/icons/settings_icon.svg" alt="" /> <span>Settings</span>
                    </div>

                    <div class="vertical-select-item mobile-element">
                        <img src="../images/icons/members_icon.svg" alt="" />
                        <span id="mobileMembersPopupCount">2 members</span>
                    </div>

                    <div class="vertical-select-item mobile-element" onclick="copyRoomURL()">
                        <img src="../images/icons/plus_icon.svg" alt="" />
                        <span>Invite to a meeting</span>
                    </div>

                    <div class="vertical-select-item mobile-element" id="mobileSpeakScreenView">
                        <img src="../images/icons/speaks_now.svg" alt="" />
                        <span>Speaks now</span>
                    </div>

                    <div class="vertical-select-item mobile-element hidden" id="mobileAllScreenView">
                        <img src="../images/icons/all_view_icon.svg" alt="" />
                        <span>All members</span>
                    </div>

                    <!-- <div
                        id="mobileStartScreenButton"
                        class="vertical-select-item mobile-element"
                        onclick="startScreenButton.onclick()"
                    >
                        <img src="../images/icons/share_icon.svg" alt="" />
                        <span>Share screen</span>
                    </div>

                    <div
                        id="mobileStopScreenButton"
                        class="vertical-select-item mobile-element hidden"
                        onclick="stopScreenButton.onclick()"
                    >
                        <img src="../images/icons/share_icon.svg" alt="" />
                        <span>Stop demo</span>
                    </div> -->

                    <!-- <div class="vertical-select-item mobile-element">
                        <img src="../images/icons/switch_camera.svg" alt="" />
                        <span>Switch camera</span>
                    </div> -->
                </div>
            </div>

            <button id="aboutButton" class="hidden"><i class="fas fa-question"></i></button>

            <div class="mobile-hide"></div>

            <div class="exit-button">
                <button id="exitButton" class="hidden">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i><span>Exit</span>
                </button>
            </div>
        </div>

        <div id="mobileSettingsControl" class="mobile-settings-control hidden">
            <div class="mobile-settings-control-box">
                <h2>Videomeeting</h2>
                <div class="mobile-settings-control-members">
                    <div class="mobile-settings-control-members">
                        <i class="fa-solid fa-user"></i><span id="mobileMembersCount">0</span>
                    </div>
                    <div class="mobile-settings-control-members">
                        <i class="fa-sharp fa-regular fa-clock"></i><span id="mobileTimer">00:00:00</span>
                    </div>
                </div>
            </div>
            <button id="mobileShowSettingsBtn" class="fa-solid fa-gear"></button>
        </div>

        <section id="mySettings" class="fadein center hidden">
            <header id="mySettingsHeader">
                <button id="mySettingsCloseBtn"><img src="../images/icons/close_icon.svg" alt="close" /></button>
            </header>
            <main>
                <br />

                <div class="tab">
                    <button id="tabDevicesBtn" class="fas fa-cog tablinks"></button>
                    <button id="tabRoomBtn" class="fas fa-home tablinks"></button>
                    <button id="tabRecordingBtn" class="fas fa-record-vinyl tablinks"></button>
                    <button id="tabVideoShareBtn" class="fab fa-youtube tablinks"></button>
                    <button id="tabAspectBtn" class="fas fa-screwdriver-wrench tablinks"></button>
                    <button id="tabStylingBtn" class="fas fa-palette tablinks"></button>
                    <button id="tabLanguagesBtn" class="fas fa-globe tablinks"></button>
                </div>

                <div id="tabDevices" class="tabcontent">
                    <br />
                    <i class="fas fa-video"></i>
                    <p>Video Source:</p>
                    <select id="videoSelect" class="form-select text-light bg-dark"></select>
                    <br />
                    <i class="fas fa-palette"></i>
                    <p>Video Quality:</p>
                    <select id="videoQuality" class="form-select text-light bg-dark">
                        <option value="default">Default</option>
                        <option value="qvga">QVGA</option>
                        <option value="vga">VGA</option>
                        <option value="hd">HD</option>
                        <option value="fhd">FULL HD</option>
                        <option value="2k">2k</option>
                        <option value="4k">4K</option>
                    </select>
                    <br />
                    <i class="fas fa-microphone"></i>
                    <p>Microphone:</p>
                    <select id="microphoneSelect" class="form-select text-light bg-dark"></select>
                    <br />
                    <i class="fas fa-headphones"></i>
                    <p>Speaker:</p>
                    <select id="speakerSelect" class="form-select text-light bg-dark"></select>
                    <br />
                </div>

                <div id="tabRoom" class="tabcontent">
                    <br />
                    <button id="fullScreenButton" class="hidden">
                        <i class="fas fa-expand-alt"></i>
                        <p>Full screen mode</p>
                    </button>
                    <br />
                    <button id="raiseHandButton" class="hidden">
                        <i class="fas fa-hand-paper"></i>
                        <p>Raise hand</p>
                    </button>
                    <button id="lowerHandButton" class="hidden">
                        <i class="fas fa-hand-paper"></i>
                        <p>Lower hand</p>
                    </button>
                    <br />
                    <button id="fileShareButton" class="hidden">
                        <i class="fas fa-folder-open"></i>
                        <p>File sharing</p>
                    </button>
                    <br />
                    <button id="lockRoomButton" class="hidden">
                        <i class="fas fa-lock-open"></i>
                        <p>Lock room</p>
                    </button>
                    <button id="unlockRoomButton" class="hidden">
                        <i class="fas fa-lock"></i>
                        <p>Unlock room</p>
                    </button>
                    <div id="lobbyButton" class="hidden">
                        <div class="form-check form-switch form-switch-md">
                            <input class="form-check-input" type="checkbox" id="switchLobby" />
                            <label class="form-check-label" style="color: #fff" for="switchLobby">&nbsp;Lobby</label>
                        </div>
                    </div>
                    <div id="soundsButton">
                        <div class="form-check form-switch form-switch-md">
                            <input class="form-check-input" type="checkbox" id="switchSounds" checked />
                            <label class="form-check-label" style="color: #fff" for="switchSounds">&nbsp;Sounds</label>
                        </div>
                    </div>
                    <button id="sessionTimeButton">
                        <i class="fas fa-clock"></i>
                        <p id="sessionTime"></p>
                    </button>
                </div>

                <div id="tabRecording" class="tabcontent">
                    <br />
                    <!-- <button id="startRecButton" class="hidden">
                        <i class="fas fa-record-vinyl"></i>
                        <p>Start recording</p>
                    </button>
                    <button id="stopRecButton" class="hidden">
                        <i class="fas fa-stop-circle"></i>
                        <p>Stop recording</p>
                    </button> -->
                    <br />
                    <button id="pauseRecButton" class="hidden">
                        <i class="far fa-pause-circle"></i>
                        <p>Pause recording</p>
                    </button>
                    <button id="resumeRecButton" class="hidden">
                        <i class="far fa-play-circle"></i>
                        <p>Resume recording</p>
                    </button>
                    <br />
                    <p id="recordingStatus">🔴 REC 0s</p>
                    <br />
                </div>

                <div id="tabVideoShare" class="tabcontent">
                    <br />
                    <button id="videoShareButton">
                        <i class="fab fa-youtube"></i>
                        <p>Share a Video or Audio</p>
                    </button>
                    <br />
                    <button id="videoCloseBtn" class="hidden">
                        <i class="fas fa-times"></i>
                        <p>Close Video or Audio</p>
                    </button>
                    <br />
                </div>

                <div id="tabAspect" class="tabcontent">
                    <br />
                    <p>Aspect ratio:</p>
                    <br />
                    <select id="BtnsAspectRatio" class="form-select text-light bg-dark">
                        <option value="0">default</option>
                        <option value="1">4:3</option>
                        <option value="2">16:9</option>
                        <option value="3">1:1</option>
                        <option value="4">1:2</option>
                    </select>
                    <br />
                    <p>Video Object fit:</p>
                    <br />
                    <select id="BtnVideoObjectFit" class="form-select text-light bg-dark">
                        <option value="fill">fill</option>
                        <option value="contain">contain</option>
                        <option value="cover">cover</option>
                        <option value="scale-down">scale-down</option>
                        <option value="none">none</option>
                    </select>
                    <br />
                    <p>Video Controls:</p>
                    <br />
                    <select id="BtnVideoControls" class="form-select text-light bg-dark">
                        <option value="Off">Off</option>
                        <option value="On">On</option>
                    </select>
                    <br />
                </div>

                <div id="tabStyling" class="tabcontent">
                    <br />
                    <p>Theme:</p>
                    <br />
                    <select id="selectTheme" class="form-select text-light bg-dark">
                        <option value="dark">⚫ &nbsp;Dark</option>
                        <option value="grey">⚪ &nbsp;Grey</option>
                    </select>
                    <br />
                    <p>Buttons bar:</p>
                    <br />
                    <select id="BtnsBarPosition" class="form-select text-light bg-dark">
                        <option value="vertical">Vertical</option>
                        <option value="horizontal">Horizontal</option>
                    </select>
                    <br />
                    <div id="pinUnpinGridDiv" class="hidden">
                        <p>Pin grid:</p>
                        <br />
                        <select id="pinVideoPosition" class="form-select text-light bg-dark">
                            <option value="vertical">Vertical</option>
                            <option value="horizontal">Horizontal</option>
                            <option value="top">Top</option>
                        </select>
                    </div>
                </div>

                <div id="tabLanguages" class="tabcontent">
                    <br />
                    <p>Language:</p>
                    <br />
                    <div id="google_translate_element"></div>
                </div>
            </main>
        </section>

        <div id="videoPinMediaContainer" class="hidden">
            <div class="share-center-box hidden">
                <span>Your screen is visible to other members</span>
                <button onclick="stopScreenButton.click()">Stop demo</button>
            </div>
        </div>

        <div class="video-with-chat--wrapper">
            <section id="chatRoom" class="hidden">
                <section id="msger" class="msger">
                    <header id="chatHeader">
                        <div class="chat-header">
                            <h2 class="participants-header-title">Chat</h2>

                            <div class="participants-header-options">
                                <button id="chatSearchBtn">
                                    <img src="../images/icons/search_icon.svg" alt="close" />
                                    <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
                                </button>
                                <button id="chatCloseButton">
                                    <img src="../images/icons/close_icon.svg" alt="close" />
                                    <!-- <i class="fas fa-times"></i> -->
                                </button>
                            </div>

                            <!--                        <div class="chat-header-options">-->
                            <!--                            <button id="chatGhostButton" class="fas fa-circle-half-stroke"></button>-->
                            <!--                            <button id="chatSaveButton" class="fas fa-save"></button>-->
                            <!--                            <button id="chatCleanButton" class="fas fa-trash"></button>-->
                            <!--                        </div>-->
                        </div>
                        <div id="searchChatBox" class="input-box hidden">
                            <input id="searchChatInput" required type="text" name="search" class="init-common" />
                            <label>Message search</label>
                            <button id="resetSearchParticipants">
                                <img src="../images/icons/close_icon.svg" alt="close" />
                                <!-- <i class="fas fa-times"></i> -->
                            </button>
                        </div>
                        <div id="pinChatMessage" class="hidden">
                            <button id="unpinChatMessageBtn" onclick="rc.unpinMessage()">
                                <i class="fa-solid fa-thumbtack"></i>
                            </button>
                            <p></p>
                        </div>
                    </header>

                    <div class="chat-content">
                        <main id="chatMsger" class="chat-msger">
                            <!-- chat messages -->
                        </main>

                        <div id="chatMessageWrapper" class="chat-msger-wrapper">
                            <textarea
                                rows="1"
                                cols="1"
                                id="chatMessage"
                                maxlength="200"
                                class="chat-msger-input"
                                required
                            ></textarea>
                            <label id="chatMessageLabel" for="chatMessage" class="chat-message-label"
                                >Enter your message
                                <p class="hidden">( <span>0</span> / 200)</p>
                            </label>
                            <div class="chat-msger-controls">
                                <button id="chatShareFileButton" class="hidden">
                                    <i class="fa-solid fa-image fa-flip-horizontal"></i>
                                </button>
                                <button id="chatSendButton" class="hidden">
                                    <i class="fa-regular fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="chatEmoji" class="hidden fadein"></div>
                </section>
            </section>

            <section id="participants" class="hidden">
                <header id="participantsHeader" class="participants-header">
                    <div id="participantsTitle" class="participants-header-title"></div>
                    <div class="participants-header-options">
                        <button id="participantsSearchBtn" onclick="toggle(searchParticipantsBox)">
                            <img src="../images/icons/search_icon.svg" alt="close" />
                            <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
                        </button>
                        <button id="participantsCloseBtn">
                            <img src="../images/icons/close_icon.svg" alt="close" />
                            <!-- <i class="fas fa-times"></i> -->
                        </button>
                    </div>
                </header>
                <main>
                    <div id="roomParticipants"></div>
                </main>
            </section>

            <div class="video-conteiner-box">
                <div id="videoMediaContainer">
                    <div class="Camera hidden" id="producerCameraBox">
                        <p class="member-name"></p>
                    </div>
                    <!-- <div class="Camera"></div> -->
                </div>
            </div>
        </div>

        <div id="localAudio"></div>
        <div id="remoteAudios"></div>

        <div id="sendFileDiv" class="fadein center">
            <img id="imgShareSend" src="../images/share.png" alt="featlytalksfu-share-send" class="center-img" /><br />
            <div id="sendFileInfo"></div>
            <div id="sendFilePercentage"></div>
            <progress id="sendProgress" max="0" value="0"></progress>
            <button id="sendAbortBtn"><i class="fas fa-stop-circle"></i>&nbsp; Abort</button>
        </div>

        <div id="receiveFileDiv" class="fadein center">
            <img
                id="imgShareReceive"
                src="../images/share.png"
                alt="featlytalksfu-share-receive"
                class="center-img"
            /><br />
            <div id="receiveFileInfo"></div>
            <div id="receiveFilePercentage"></div>
            <progress id="receiveProgress" max="0" value="0"></progress>
            <button id="receiveHideBtn"><i class="fas fa-eye-slash"></i>&nbsp; Hide</button>
        </div>

        <section id="whiteboard" class="hidden">
            <header id="whiteboardHeader" class="whiteboard-header">
                <div class="whiteboard-header-options whiteboard-options-box">
                    <button id="whiteboardUndoBtn">
                        <img src="../images/icons/turn_back_icon.svg" alt="" />
                    </button>

                    <button id="whiteboardRedoBtn">
                        <img src="../images/icons/turn_foward_icon.svg" alt="" />
                    </button>

                    <!-- <button id="whiteboardZoomInBtn">
                        <img src="../images/icons/search_plus.svg" alt="" />
                    </button>

                    <button id="whiteboardZoomOutBtn">
                        <img src="../images/icons/search_minus.svg" alt="" />
                    </button> -->

                    <button id="whiteboardSaveBtn">
                        <img src="../images/icons/save_icon.svg" alt="" />
                    </button>
                </div>

                <div class="whiteboard-sidebar-options whiteboard-options-box">
                    <button id="whiteboardObjectBtn">
                        <img src="../images/icons/move_icon.svg" alt="" />
                        <!-- <img src="../images/icons/small_arrow_down.svg" class="small-arrow" alt="" /> -->
                        <!-- <div class="vertical-select-popup">
                            <div class="vertical-select-item" onclick="setActiveWhiteboardBtn(whiteboardObjectBtn)">
                                <img src="../images/icons/move_icon.svg" alt="" /> <span>Move</span>
                            </div>
                            <div class="vertical-select-item">
                                <img src="../images/icons/hand_grab.svg" alt="" /> <span>Grab move</span>
                            </div>
                        </div> -->
                    </button>
                    <button id="whiteboardPencilBtn" class="active">
                        <img src="../images/icons/pen-icon.svg" alt="" />
                    </button>
                    <button id="pickColorBtn">
                        <div id="currentBoardColor"></div>
                        <img src="../images/icons/small_arrow_down.svg" class="small-arrow" alt="" />

                        <div class="horizontal-select-popup">
                            <div onclick="whiteboardSetColor('#A63A3A')">
                                <div class="select-popup-red-color"></div>
                            </div>
                            <div onclick="whiteboardSetColor('#F8E327')">
                                <div class="select-popup-red-yellow"></div>
                            </div>
                            <div onclick="whiteboardSetColor('#49BA2D')">
                                <div class="select-popup-red-green"></div>
                            </div>
                            <div onclick="whiteboardSetColor('#1757FB')">
                                <div class="select-popup-red-blue"></div>
                            </div>
                            <div onclick="whiteboardSetColor('#6623BB')">
                                <div class="select-popup-red-purple"></div>
                            </div>
                            <div onclick="whiteboardSetColor('#AC0F6D')">
                                <div class="select-popup-red-pink"></div>
                            </div>
                            <div onclick="whiteboardSetColor('#000000')">
                                <div class="select-popup-red-black"></div>
                            </div>
                            <div onclick="whiteboardSetColor('#FFFFFF')">
                                <div class="select-popup-red-white"></div>
                            </div>
                        </div>
                    </button>
                    <button id="whiteboardEraserBtn">
                        <img src="../images/icons/eraser_icon.svg" alt="" />
                    </button>

                    <button id="pickFigureBtn">
                        <img src="../images/icons/rectangle_icon.svg" alt="" />
                        <img src="../images/icons/small_arrow_down.svg" class="small-arrow" alt="" />

                        <div class="vertical-select-popup">
                            <div id="whiteboardRectBtn" class="vertical-select-item">
                                <img src="../images/icons/rectangle_icon.svg" alt="" /> <span>Rectangle</span>
                            </div>
                            <div id="whiteboardLineBtn" class="vertical-select-item">
                                <img src="../images/icons/arrow_sketch_icon.svg" alt="" /> <span>Arrow</span>
                            </div>
                            <div id="whiteboardCircleBtn" class="vertical-select-item">
                                <img src="../images/icons/ellipse_icon.svg" alt="" /> <span>Ellipse</span>
                            </div>
                            <div id="whiteboardTriangleBtn" class="vertical-select-item">
                                <img src="../images/icons/triangle_icon.svg" alt="" /> <span>Triangle</span>
                            </div>
                        </div>
                    </button>

                    <button id="whiteboardTextBtn">
                        <img src="../images/icons/text_icon.svg" alt="" />
                    </button>

                    <button id="whiteboardImgFileBtn">
                        <img src="../images/icons/image_icon.svg" alt="" />
                    </button>
                    <button id="whiteboardCleanBtn">
                        <img src="../images/icons/trash_icon.svg" alt="" />
                    </button>

                    <div class="hidden">
                        <button id="whiteboardGhostButton" class="fas fa-circle-half-stroke"></button>
                        <input id="wbBackgroundColorEl" class="whiteboardColorPicker" type="color" value="#000000" />
                        <button id="whiteboardImgUrlBtn" class="fas fa-link"></button>
                    </div>
                </div>
            </header>
            <div class="whiteboard-footer">
                <span>Your board is visible to other members</span>
                <button id="whiteboardCloseBtn">Exit board mode</button>
            </div>
            <main>
                <canvas id="wbCanvas"></canvas>
            </main>
        </section>

        <!--        <section id="chatRoom" class="chat-room center fadein">-->
        <!--            <section id="msger" class="msger">-->
        <!--                <header id="chatHeader" class="chat-header">-->
        <!--                    <div class="chat-header-title">-->
        <!--                        <button id="chatCloseButton" class="fas fa-times"></button>-->
        <!--                    </div>-->
        <!--                    <div class="chat-header-options">-->
        <!--                        <button id="chatGhostButton" class="fas fa-circle-half-stroke"></button>-->
        <!--                        <button id="chatSaveButton" class="fas fa-save"></button>-->
        <!--                        <button id="chatCleanButton" class="fas fa-trash"></button>-->
        <!--                    </div>-->
        <!--                </header>-->
        <!--                <main id="chatMsger" class="chat-msger">-->
        <!--                    &lt;!&ndash; chat messages &ndash;&gt;-->
        <!--                </main>-->
        <!--                <div class="chat-msger-inputarea">-->
        <!--                    <textarea-->
        <!--                        rows="1"-->
        <!--                        cols="1"-->
        <!--                        id="chatMessage"-->
        <!--                        class="chat-msger-input"-->
        <!--                        placeholder="💬 Write a message..."-->
        <!--                    ></textarea>-->
        <!--                </div>-->
        <!--                <div class="chat-msger-buttons">-->
        <!--                    <button id="chatEmojiButton" class="hidden">-->
        <!--                        <i class="fas fa-smile"></i>-->
        <!--                    </button>-->
        <!--                    <button id="chatMarkdownButton" class="hidden">-->
        <!--                        <i class="fab fa-markdown"></i>-->
        <!--                    </button>-->
        <!--                    <button id="chatShareFileButton" class="hidden">-->
        <!--                        <i class="fas fa-paperclip"></i>-->
        <!--                    </button>-->
        <!--                    <button id="chatSpeechStartButton" class="hidden">-->
        <!--                        <i class="fas fa-microphone-slash"></i>-->
        <!--                    </button>-->
        <!--                    <button id="chatSpeechStopButton" class="hidden">-->
        <!--                        <i class="fas fa-microphone"></i>-->
        <!--                    </button>-->
        <!--                    <button id="chatCleanTextButton" class="hidden">-->
        <!--                        <i class="fas fa-trash"></i>-->
        <!--                    </button>-->
        <!--                    <button id="chatPasteButton" class="hidden">-->
        <!--                        <i class="fas fa-paste"></i>-->
        <!--                    </button>-->
        <!--                    <div class="form-check form-switch form-switch-md">-->
        <!--                        &nbsp;&nbsp;&nbsp;-->
        <!--                        <input class="form-check-input" type="checkbox" id="showChatOnMsg" checked />-->
        <!--                    </div>-->
        <!--                    <button id="chatSendButton" class="hidden">-->
        <!--                        <i class="fas fa-paper-plane"></i>-->
        <!--                    </button>-->
        <!--                </div>-->
        <!--                <div id="chatEmoji" class="hidden fadein"></div>-->
        <!--            </section>-->
        <!--        </section>-->

        <section id="lobby" class="fadein center hidden">
            <header id="lobbyHeader" class="lobby-header">
                <div id="lobbyHeaderTitle" class="lobby-header-title">Lobby users</div>
            </header>
            <main>
                <div id="lobbyUsers">
                    <table id="lobbyTb">
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr id="lobbyAll">
                            <td>&nbsp;<i class="fas fa-users fa-lg"></i></td>
                            <td>All</td>
                            <td>
                                <button id="lobbyAcceptAllBtn" onclick="rc.lobbyAcceptAll()">
                                    <i class="fas fa-check"></i>
                                </button>
                            </td>
                            <td>
                                <button id="lobbyRejectAllBtn" onclick="rc.lobbyRejectAll()">
                                    <i class="fas fa-times"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </main>
        </section>

        <!--
    Start Google Translate
-->
        <script>
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
            }
        </script>
        <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </body>
</html>
