/* Base Colors */
body {
    background-color: #8A9597; /* Cool Grey for the background */
    color: #00BFFF; /* Deep Sky Blue for the text color */
    position: relative; /* Allows child elements to be positioned relative to the body */
    min-height: 100vh; /* Ensures full viewport height */
    margin: 0; /* Removes default margin */
    padding-bottom: 50px; /* Space for the terms info section */
}

/* Primary Color - Deep Sky Blue */
.hero-title, .button-make-feat, a {
    color: #00BFFF; /* Deep Sky Blue for the hero title and buttons */
}

/* Secondary Color - Coral */
a:hover {
    color: white; /* Coral for the hover color on links */
}

/* Hero Logo Section */
.hero-logo {
    background-color: #00BFFF; /* Deep Sky Blue for the logo section */
}

/* Hero Term Info Section */
.hero-term-info {
    background-color: #FF6F61; /* Coral for the terms info section */
    color: #FFFFFF; /* White for the text color */
    position: absolute; /* Absolute positioning */
    bottom: 0; /* Aligns to the bottom of the parent (body) element */
    width: 100%; /* Full width */
    height: 50px; /* Set height */
    text-align: center; /* Center the text */
    line-height: 50px; /* Vertically centers the text */
}

/* Main Button */
.button-make-feat {
    background-color: #00BFFF; /* Deep Sky Blue for the button background */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-make-feat:hover {
  
}
