/* Base Colors */
body {
    background-color: black; /* Cool Grey for the background */
    color: #00BFFF; /* Deep Sky Blue for the text color */
    position: relative; /* Allows child elements to be positioned relative to the body */
    min-height: 100vh; /* Ensures full viewport height */
    margin: 0; /* Removes default margin */
    padding-bottom: 80px; /* Space for the terms info section */
    font-family: 'IBM Plex Sans', sans-serif; /* Using a clean and professional font */
}

/* Primary Color - Deep Sky Blue */
.hero-title {
    color: #00BFFF; /* Deep Sky Blue for the hero title */
    font-size: 36px; /* Increase hero title size */
    font-weight: 600; /* Bold hero title */
    line-height: 1.2; /* Spacing between hero title lines */
}

.button-make-feat, a {
    color: #00BFFF; /* Deep Sky Blue for buttons and links */
    font-size: 18px; /* Increase button and link size */
}

/* Secondary Color - Coral */
a:hover {
    color: #00BFFF; /* Coral for the hover color on links */
}

/* Hero Logo Section */
.hero-logo {
    background-color: #00BFFF; /* Deep Sky Blue for the logo section */
}

/* Hero Term Info Section */
.hero-term-info {
    background-color: #FF6F61; /* Coral for the terms info section */
    color: #FFFFFF; /* White for the text color */
    position: absolute; /* Absolute positioning */
    bottom: 0; /* Aligns to the bottom of the parent (body) element */
    width: 100%; /* Full width */
    height: 80px; /* Set height */
    text-align: center; /* Center the text */
    line-height: 80px; /* Vertically centers the text */
    font-size: 20px; /* Increase terms info text size */
}

/* Main Button */
.button-make-feat {
    background-color: #00BFFF; /* Deep Sky Blue for the button background */
    border: none;
    color: white;
    padding: 20px 40px; /* Increase button padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; /* Increase button text size */
    margin: 4px 2px;
    cursor: pointer;
}

.button-make-feat:hover {
    background-color: #FF6F61; /* Coral for the button hover */
}

.description {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    padding: 20px;
    color: #333; /* Feel free to change this to match your site's color scheme */
    background-color: #f4f4f4; /* This provides a subtle background to set the section apart; adjust as needed */
    margin: 20px auto; /* Adds some margin to separate the section from others */
    max-width: 800px; /* Controls the width of the content */
}
