@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap');

/*--------------------------------------------------------------
# Keyframes
--------------------------------------------------------------*/

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html[data-theme='dark'] {
    --body-bg: #0d0e10;
}

:root {
    --body-bg: #151519;
    --control-bg: #0d0e10;
    --main-color: #8c6be6;
    --error-color: #e63b2a;
    --secondary-bg: #1d1d24;

    --border: 1px solid rgb(255 255 255 / 32%);
    --border-radius: 1rem;
    --msger-top: 50%;
    --msger-left: 50%;
    --msger-height: calc(100vh - (88px + 126px));
    --msger-width: 396px;
    --msger-bubble-width: 90%;
    --msger-bg: radial-gradient(#393939, #000000);
    --wb-width: 800px;
    --wb-height: 600px;
    --wb-bg: radial-gradient(#393939, #000000);
    --left-msg-bg: #252d31;
    --right-msg-bg: #056162;
    --private-msg-bg: #6b1226;
    --box-shadow: 0px 8px 16px 0px rgb(0 0 0);
    --btns-hover-scale: scale(1.1);
    --settings-bg: radial-gradient(#393939, #000000);
    --btns-bottom: 0%;
    --btns-right: 0%;
    --btns-left: 0%;
    --btns-margin-left: 0px;
    --btns-width: 100%;
    --btns-flex-direction: row;
    --vmi-wh: 15vw;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit */
    --videoObjFit: cover;
}

* {
    outline: none;
    font-family: 'Plus Jakarta Sans', 'Roboto', 'Noto Sans', sans-serif, 'Helvetica Neue', Helvetica;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    top: 0 !important;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--control-bg);
}

body::-webkit-scrollbar-track {
    background-color: var(--control-bg);
    border-radius: 15px;
}

body::-webkit-scrollbar-thumb {
    background: var(--body-bg);
    border-radius: 15px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #21242a;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

a {
    color: var(--main-color);
    text-decoration: none !important;
}

/*--------------------------------------------------------------
# Google Translate
--------------------------------------------------------------*/

.skiptranslate,
.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

#google_translate_element select {
    background: #2c2c2c !important;
}

/*--------------------------------------------------------------
# Loading...
--------------------------------------------------------------*/

#globalLoader {
    width: 100%;
    height: 100vh;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--control-bg);
}

.global-loader-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.connecting-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
}

#globalLoader .loader {
    width: 32px;
    height: 32px;
    border: 4.7px solid #141418;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
#globalLoader .loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 4.7px solid transparent;
    border-bottom-color: var(--main-color);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Init User
--------------------------------------------------------------*/

.init-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    max-width: 640px;
    width: 90%;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    padding-bottom: 30px;
}

.video-box {
    width: 100%;
    height: 388px;
    min-height: 388px;
    max-height: 388px;
    position: relative;
    margin-bottom: 48px;
    background: #141418;
    border-radius: 12px;
    overflow: hidden;
}

.video-box video {
    width: 100%;
}

.video-box > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.audio-box {
    display: none;
}

.init-common {
    border-radius: 12px;
    height: 56px;
    width: 100%;
    padding: 13px 18px;
    background: linear-gradient(105.88deg, #4f22c8 0%, #8c6be6 100%, #8c6be6 100%), #2e2e36;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #f8f8f8;
    transition: opacity 0.3s;
}

#initInputName {
    background: #141418;
    border: none;
    color: #f8f8f8;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 5px;
}

.init-input-error-box {
    position: relative;
    width: 100%;
}

.init-input-error-box.empty-field #initInputName {
    border: 1px solid var(--error-color);
}

.init-input-error-box.empty-field::before {
    content: 'Enter your name';
    color: var(--error-color);
    position: absolute;
    left: 0;
    top: -25px;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.init-buttons-box {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.init-buttons-box > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.init-buttons-box p {
    display: none;
}

.init-buttons-box button {
    width: 48px;
    height: 48px;
    background: #2c2c39;
    transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

.circle-button {
    width: 48px;
    height: 48px;
    transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
    background: #2c2c39;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

#initSettingButton {
    position: absolute;
    top: 24px;
    right: 24px;
}

.init-buttons-box .fa-microphone-slash,
.init-buttons-box .fa-video-slash {
    color: var(--main-color);
}

.init-user span {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.init-limit-text {
    color: #ffffff;
    margin: 16px 0 48px;
}
.init-terms-text {
    color: #828282;
}
.init-terms-text a {
    color: var(--main-color);
}

.init-user select {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #2c2c2c;
    color: white;
    border: var(--border);
    border-radius: 5px;
    cursor: pointer;
}

.init-user button:hover {
    /* color: white; */
    /* background-color: rgb(35, 35, 35); */
    transform: scale(1);
    opacity: 0.9;
    cursor: pointer;
}

@media (max-width: 768px) {
    .connecting-box {
        flex-direction: row;
    }

    .room-header {
        display: none !important;
    }

    #initUser {
        top: 167px;
    }

    #initInputName {
        margin-bottom: 16px;
    }

    .video-box > span {
        display: none;
    }

    #initSettingButton {
        display: none;
    }

    .video-box video {
        width: calc(50% - 8px);
        height: 108px;
        border-radius: 12px;
        background: #141418;
    }

    .audio-box:before {
        content: '';
        width: calc(50% - 8px);
        height: 108px;
        border-radius: 12px;
        background: #141418;
        position: absolute;
        right: 0;
        top: 0;
    }

    .video-box {
        background: transparent;
        display: flex;
        gap: 16px;
        flex: 1 1;
        min-height: 108px;
        margin-bottom: 32px;
    }

    .audio-box {
        display: block;
        background: #141418;
        width: calc(50% - 8px);
        max-height: 108px;
        border-radius: 12px;
    }

    .init-buttons-box {
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
    }

    .init-buttons-box p {
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        display: inline-block;
        max-width: 82px;
    }

    .init-audio-button-box {
        position: absolute;
        left: 24%;
        transform: translate(-50%, 0px);
        bottom: 10px;
    }

    .init-video-button-box {
        position: absolute;
        right: 24%;
        transform: translate(50%, 0px);
        bottom: 10px;
    }

    .init-buttons-box button {
        width: 36px;
        height: 36px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .init-limit-text {
        margin: 24px 0 95px;
    }
}

/*--------------------------------------------------------------
# Members Screens
--------------------------------------------------------------*/

.members-screens {
    position: absolute;
    background: #0d0e10;
    border: 1px solid #2e2e36;
    border-radius: 14px;
    width: 308px;
    top: 104px;
    right: 16px;
    z-index: 9;
    overflow: hidden;
    padding: 3px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    transition: height 0.3s ease-in-out;
}

.members-screens.minify {
    height: 64px;
}

.minify .members-screens-header img {
    transform: rotate(180deg);
}

.members-microphone {
    position: absolute;
    left: 6px;
    bottom: 6px;
    width: 32px;
    height: 32px;
    background: #0d0e10;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.members-microphone i {
    color: var(--main-color);
    font-size: 14px;
}

.members-screens-header {
    display: flex;
    justify-content: space-between;
    padding: 11px 15px 8px;
    cursor: move;
}

.members-screens-header h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #f8f8f8;
}

.members-screens-header img {
    transition: transform 0.3s ease-in-out;
}

.members-screen {
    background: #151519;
    border-radius: 12px;
    width: 300px;
    height: 160px;
    overflow: hidden;
    position: relative;
}

.members-screen video {
    height: 100% !important;
}

.members-screen span,
.member-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.02em;
    color: #30303c;
    white-space: nowrap;
}

/*--------------------------------------------------------------
# Input
--------------------------------------------------------------*/

.input-box {
    /* border-radius: 12px;
    height: 56px;
    width: 100%;
    padding: 13px 18px; */
    position: relative;
    z-index: 1;
}

.input-box input {
    width: 100%;
    padding: 13px 18px 8px;
    font-size: 1rem;
    background: #0d0e10;
    color: #ffffff;
    border-radius: 12px;
    border: none;
    font-weight: 400;
}

.input-box img {
    width: 22px;
}

.input-box label {
    position: absolute;
    pointer-events: none;
    left: 18px;
    top: 15px;
    transition: 0.2s ease all;
    color: #828282;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -1px;
    font-size: 12px;
    color: #ababaf;
}

.input-box input:focus ~ button,
.input-box input:valid ~ button {
    opacity: 1;
    visibility: visible;
}

.input-box button {
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 18px;
    color: #d9d9d9;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    cursor: pointer;
}

/*--------------------------------------------------------------
# Snackbar
--------------------------------------------------------------*/

#snackbar {
    position: fixed;
    left: 50%;
    bottom: 138px;
    transform: translateX(-50%);
    padding: 10px 20px;
    background: #2c2c39;
    border-radius: 52px;
    border: none;
    color: #f8f8f8;
    font-size: 14px;
    line-height: 22px;
    height: 56px;
    z-index: 9;
    font-weight: 500;
    border: 1px solid #4b4b4b;
    height: 42px;
}

/*--------------------------------------------------------------
# Popup
--------------------------------------------------------------*/

.center-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 408px;
    padding: 24px;
    background: var(--secondary-bg);
    z-index: 9;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
    max-height: 95vh;
}

.popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.popup-title h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-bottom: 0;
}

.close-icon {
    padding-top: 6px;
    cursor: pointer;
}

.invite-popup {
    background: var(--secondary-bg);
    border-radius: 12px;
    max-width: 477px;
    width: 100%;
    position: fixed;
    left: 22px;
    bottom: 148px;
    padding: 24px;
    z-index: 9;
}

@media (max-width: 768px) {
    .invite-popup {
        left: 0;
        bottom: -12px;
        padding-bottom: 70px;
    }
}

.popup-sub-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #828282;
    display: block;
    margin-top: -6px;
}

.invite-popup .input-box {
    margin: 24px 0;
}

.invite-popup .input-box i {
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 20px;
    height: 20px;
    color: white;
}
.invite-popup .invite-popup-input {
    width: 100%;
    padding: 16px 18px;
    border-radius: 12px;
    background: #2c2c39;
    border: none;
    color: #f8f8f8;
    font-size: 16px;
    line-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 50px;
    height: 56px;
    white-space: nowrap;
}

#inviteCopyLink {
    cursor: pointer;
    transition: opacity 0.3s;
}

#inviteCopyLink:hover {
    opacity: 0.7;
}

.dropdown-box {
    position: relative;
}

.dropdown-box::after {
    content: '';
    background: url('../images/select-arrow.svg') no-repeat center center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 18px;
    height: 12px;
}

.dropdown-select {
    background: #2c2c39;
    border-radius: 12px;
    height: 56px;
    width: 100%;
    display: block;
    border: none;
    color: #fff;
    padding-left: 16px;
    padding-right: 45px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.dropdown-box h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #ababaf;
    margin-bottom: 6px;
}

/*--------------------------------------------------------------
# Switch
--------------------------------------------------------------*/

.init-switch-text h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-bottom: 6px;
}

.init-switch-text > span {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #ababaf;
    max-width: 230px;
}

.init-switch-box {
    padding: 16px;
    padding-right: 12px;
    background: #2c2c39;
    border-radius: 12px;
    width: 100%;
    display: flex;
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    min-width: 48px;
    height: 26px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-bg);
    border-radius: 34px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 24px;
    width: 24px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #8c6be6;
}

input:focus + .slider {
    box-shadow: 0 0 1px #8c6be6;
}

input:checked + .slider:before {
    transform: translateX(22px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header {
    height: 88px;
    width: 100%;
    padding: 12px 24px;
    display: grid;
    grid-template-columns: 160px 1fr 160px;
    align-items: center;
    background: var(--control-bg);
}

.header-logo {
    width: 160px;
    height: auto;
}

.header-nav {
    margin-left: 48px;
    gap: 32px;
    display: flex;
}

.header-burger {
    display: none;
    position: relative;
    width: 28px;
    height: 19px;
}

@media (max-width: 768px) {
    .header {
        padding: 16px;
        height: 56px;
        grid-template-columns: 160px 28px;
        justify-content: space-between;
    }

    .header-nav {
        display: none;
    }

    .header-burger {
        display: block;
    }

    .header-logo {
        width: 106px;
    }
}

.header-burger span,
.header-burger:before,
.header-burger:after {
    content: '';
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}
.header-burger span {
    top: 8px;
}

.header-burger:before {
    top: 0px;
}
.header-burger:after {
    bottom: 0px;
}

.header-burger.active:before {
    transform: rotate(45deg);
    top: 8px;
}
.header-burger.active:after {
    transform: rotate(-45deg);
    bottom: 8px;
}
.header-burger.active span {
    transform: scale(0);
}

.header-nav a {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #ffffff;
    white-space: nowrap;
}

.header-center-block {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: center;
    justify-content: center;
}

.header-center-block h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-bottom: 0;
}

.header-center-block span {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #ababaf;
}

/*--------------------------------------------------------------
# Buttons bar
--------------------------------------------------------------*/

#control:not(.hidden) {
    z-index: 3;
    position: absolute;
    display: grid;
    grid-template-columns: auto auto 1fr auto auto auto auto auto auto auto 1fr auto;
    background: var(--control-bg);
    padding: 12px 24px;
    height: 126px;
    bottom: var(--btns-bottom);
    right: var(--btns-right);
    left: var(--btns-left);
    margin-left: var(--btns-margin-left);
    width: var(--btns-width);
    /* border-radius: 10px; */
}

.button-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    max-width: 48px;
    margin: 0 12px;
    position: relative;
}

.button-box button {
    cursor: pointer;
}

.button-box:first-child {
    margin-left: 0;
}

.exit-button #exitButton i,
.button-box i {
    font-size: 20px;
    max-width: 24px;
}

@media (min-width: 769px) {
    .exit-button #exitButton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 20px;
        gap: 12px;
        background: #2c2c39;
        border-radius: 12px;
        width: 105px;
        height: 48px;
        color: red;
    }
}

#exitButton span {
    font-weight: 700;
}

.button-box > span {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
}

#control button {
    /* font-size: 1.2rem; */
    /* padding: 10px; */
    width: 48px;
    height: 48px;
    transition: all 0.3s ease-in-out;
    background: #2c2c39;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: var(--border); */
    /* box-shadow: var(--box-shadow); */
}

#control p {
    font-size: small;
    cursor: default;
}

@media (max-width: 768px) {
    .mobile-hide,
    #exitButton span,
    #exitButton i,
    .button-box > span {
        display: none;
    }

    #control:not(.hidden) {
        grid-template-columns: 36px 36px 36px 36px 36px;
        gap: 24px;
        justify-content: center;
        background: transparent;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.81) 100%);
        height: auto;
        padding-bottom: 24px;
        border-radius: 0;
    }

    .exit-button #exitButton {
        position: relative;
        background: var(--error-color);
    }

    #exitButton::before {
        content: '';
        background-image: url('../images/exit.svg');
        position: absolute;
        width: 20px;
        left: 50%;
        height: 20px;
        top: 50%;
        transform: translate(calc(-50% - 1.5px), -50%);
    }

    #control button {
        width: 36px;
        height: 36px;
    }

    .button-box:first-child {
        margin-left: 12px;
    }

    .control-chat-button {
        grid-column: 1;
        grid-row: 1;
    }
    .control-voice-button {
        grid-column: 2;
        grid-row: 1;
    }
    .exit-button {
        grid-column: 3;
        grid-row: 1;
    }

    .control-video-button {
        grid-column: 4;
        grid-row: 1;
    }

    .control-more-button {
        grid-column: 5;
        grid-row: 1;
    }

    .exit-button #exitButton i,
    .button-box i {
        font-size: 15px;
        max-width: 18px;
    }
}

.button-box .vertical-select-popup {
    bottom: 117px;
    width: 250px;
}

.vertical-select-popup.show-popup {
    visibility: visible;
    opacity: 1;
    bottom: 125px;
}

@media (max-width: 768px) {
    .vertical-select-popup.show-popup {
        bottom: 55px;
    }
}

.circle-rec-box {
    width: 32px;
    height: 32px;
    padding: 10px;
    position: relative;
}

.circle-rec-box::after {
    content: '';
    width: 17px;
    height: 17px;
    border: 1.5px solid white;
    border-radius: 50%;
    position: absolute;
    left: 6px;
    top: 6px;
}

.circle-rec {
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: recAnimation 2.5s ease-in-out infinite;
}

@keyframes recAnimation {
    0% {
        background: #e63b2a;
    }
    25% {
        background: #9c3530;
    }
    50% {
        background: #512f36;
    }
    25% {
        background: #9c3530;
    }
    100% {
        background: #e63b2a;
    }
}

/*--------------------------------------------------------------
# Init Audio/Video buttons
--------------------------------------------------------------*/

#initAudioButton,
#initVideoButton,
#initAudioVideoButton {
    /* font-size: 1.2rem;
    padding: 10px;
    border: var(--border);
    border-radius: 5px; */
}

/*--------------------------------------------------------------
# Room QR
--------------------------------------------------------------*/

#qrRoomContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------------------------------------------------------
# My settings
--------------------------------------------------------------*/

#mySettings {
    z-index: 6;
    position: absolute;
    margin: auto;
    padding: 10px;
    width: 365px;
    min-height: 480px;
    background: var(--settings-bg);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: 10px;
    overflow: hidden;
}

#mySettingsHeader {
    cursor: move;
}

#mySettings i,
#mySettings p {
    display: inline-block;
    color: #fff;
    padding: 5px;
    background: transparent;
}

#mySettings select {
    width: auto;
    max-width: 310px;
    height: 40px;
    color: #fff;
    background-color: transparent;
    border: var(--border);
    border-radius: 5px;
    cursor: pointer;
}

#mySettingsCloseBtn {
    padding: 10px;
}

#mySettings button {
    border-radius: 5px;
}

#sessionTimeButton {
    cursor: default;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.form-check-input {
    cursor: pointer;
}

#soundsButton,
#lobbyButton {
    padding: 10px;
}

/*--------------------------------------------------------------
# Style the tab
--------------------------------------------------------------*/
.tab {
    overflow: hidden;
    background-color: #000000;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #fff;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: transparent;
    color: grey;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: rgb(42 42 42 / 70%);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tabcontent button i {
    padding: 10px;
    border: var(--border);
    border-radius: 5px;
}

.tabcontent button {
    margin-top: 5px;
    width: 100%;
    text-align: left;
}

.tabcontent button:hover {
    background-color: #121212;
    transform: scale(1);
}

#sessionTimeButton {
    width: auto;
    margin-top: 10px;
    text-align: right;
}

/* on open display devices tab */
#tabDevices {
    display: block;
}

/*--------------------------------------------------------------
# Chat Room
--------------------------------------------------------------*/

.video-with-chat--wrapper {
    display: flex;
}

#chatRoom {
    height: calc(var(--msger-height));
    width: var(--msger-width);
    min-height: calc(var(--msger-height) - 126px);
    min-width: var(--msger-width);
    /*background: var(--msger-bg);*/
    /*border: var(--border);*/
    /*border-radius: 10px;*/
    /* resize: both; */
    overflow: hidden;
    background: #151519;
    border-right: 2px solid var(--control-bg);
}

@media (max-width: 768px) {
    #chatRoom {
        min-width: 100%;
        border-right: none;
    }

    .chat-content,
    .chat-msger-wrapper {
        max-width: none !important;
        padding-right: 8px;
    }

    #chatMessage {
        height: 56px;
        overflow: hidden;
        max-height: 56px;
    }

    .chat-content {
        height: 96px;
    }

    #membersScreens {
        display: none;
    }
}

.msger {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background: var(--msger-bg);*/
    padding: 16px 16px 24px 24px;
    background: var(--body-bg);
}

/*--------------------------------------------------------------
# Chat room header
--------------------------------------------------------------*/

.chat-header {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    width: 100%;
    margin-bottom: 14px;
}

.chat-header button {
    cursor: pointer;
}

.chat-header button i {
    font-size: 20px;
    color: #ababaf;
}

#chatCloseButton i {
    font-size: 30px;
}

.chat-header-title button,
.chat-header-options button {
    border: none;
    transition: all 0.3s ease-in-out;
    background: rgb(0, 0, 0);
    color: #fff;
    border-radius: 5px;
    transition: background 0.23s;
}

/*--------------------------------------------------------------
# Chat room output area
--------------------------------------------------------------*/

.chat-content {
    max-width: 355px;
}

.chat-msger {
    flex: 1;
    overflow-y: auto;
    max-height: calc(var(--msger-height) - 275px);
    padding: 10px;
    max-width: 100%;
}

.chat-msger::-webkit-scrollbar {
    width: 5px;
}

.chat-msger::-webkit-scrollbar-track {
    background: transparent;
}

.chat-msger::-webkit-scrollbar-thumb {
    background: black;
    /*aqua;*/
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.msg:last-of-type {
    margin: 0;
}

/*--------------------------------------------------------------
# Chat room left side
--------------------------------------------------------------*/

.left-msg .msg-bubble {
    background: transparent;
    color: #fff;
    width: var(--msger-bubble-width);
    border: 2px solid #212124;
}

.left-msg .msg-bubble-private {
    background: transparent;
    color: #fff;
    width: var(--msger-bubble-width);
    border: 2px solid #212124;
}

.left-msg .msg-img {
    margin: 0px 5px 5px 0px;
}

/*--------------------------------------------------------------
# Chat room right side
--------------------------------------------------------------*/

.right-msg {
    flex-direction: row-reverse;
}

.msg-buttons-box {
    display: flex;
    justify-content: flex-end;
}

.msg-buttons-box button {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    cursor: pointer;
}

.msg-buttons-box button:hover {
    opacity: 0.8;
}

.msg-bubble:hover .msg-buttons-box button {
    opacity: 1;
    visibility: visible;
}

.right-msg .msg-bubble {
    background: var(--main-color);
    color: #fff;
    width: var(--msger-bubble-width);
}

.right-msg .msg-bubble-private {
    background: var(--main-color);
    color: #fff;
    width: var(--msger-bubble-width);
}

.right-msg .msg-img {
    margin: 0px 0px 5px 5px;
}

/*--------------------------------------------------------------
# Chat room common
--------------------------------------------------------------*/

.msg-img {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.msg-bubble-private,
.msg-bubble {
    /* max-width: 200px; */
    padding: 8px;
    border-radius: 12px;
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.msg-info-name {
    padding-left: 4px;
    font-weight: bold;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--main-color);
}

.msg-info-time {
    margin-left: 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
}

.msg-text {
    padding-left: 4px;
    display: block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.msg-text pre {
    white-space: break-spaces;
    margin: 0;
}

.msg-text iframe {
    width: 100%;
}

.msg-a {
    color: #fff;
}
.msg-a:hover {
    color: grey;
    transition: all 0.3s ease-in-out;
}
#chat-msg-a {
    color: #fff;
}

/*--------------------------------------------------------------
# Chat room input area
--------------------------------------------------------------*/

.chat-msger-block {
    display: flex;
    border: none;
}

.chat-msger-wrapper {
    display: flex;
    width: 100%;
    max-width: 346px;
    flex-direction: column;
    padding: 8px 14px 14px 16px;
    background: #0d0e10;
    border-radius: 12px;
    min-height: 120px;
    position: relative;
}

.chat-message-label {
    font-family: 'Plus Jakarta Sans';
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
    font-weight: 400;
    color: #828282;
    margin-bottom: 4px;
}

.chat-msger-input {
    flex: 1;
    height: 43px;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    transition: height 1s;
    background: transparent;
    resize: none;
    border: none;
    position: relative;
}

.chat-msger-controls {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    width: 334px;
    position: absolute;
    bottom: 9px;
    left: 16px;
}

.chat-msger-controls::after {
    content: '';
    position: absolute;
    width: 330px;
    height: 20px;
    background: linear-gradient(0deg, var(--control-bg), transparent);
    top: 0px;
    left: 0;
    z-index: 0;
}

.chat-msger-controls::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 25px;
    top: 0px;
    right: 8px;
    z-index: 1;
    border-radius: 6px;
    background: var(--control-bg);
}

@media (max-width: 768px) {
    .chat-msger-controls,
    .chat-msger-controls::after {
        width: 90%;
    }

    #chatRoom {
        height: 100vh;
        z-index: 9;
    }

    .chat-msger-wrapper {
        height: 56px;
    }
}

.chat-msger-controls button {
    cursor: pointer;
    font-size: 18px;
    position: relative;
    z-index: 2;
}

.chat-msger-input::-webkit-scrollbar {
    width: 5px;
}

.chat-msger-input::-webkit-scrollbar-track {
    background: transparent;
}

.chat-msger-input::-webkit-scrollbar-thumb {
    background: #404040;
}

/*--------------------------------------------------------------
# Chat room buttons area
--------------------------------------------------------------*/

.chat-msger-buttons {
    display: flex;
    padding: 10px;
}

#chatSendButton {
    /*position: absolute;*/
    right: 10px;
}

/*--------------------------------------------------------------
# Chat room emoji picker
--------------------------------------------------------------*/

em-emoji-picker {
    z-index: 0;
    position: absolute;
    bottom: 110px;
    left: 10px;
}

/*--------------------------------------------------------------
# swal2
--------------------------------------------------------------*/

.swal2-validation-message,
.swal2-title,
.swal2-content,
.swal2-input {
    text-align: center;
    color: #fff !important;
    background-color: transparent !important;
}
.swal2-html-container {
    text-align: center;
    color: #858585 !important;
    background-color: transparent !important;
}

.swal2-input {
    border: var(--border) !important;
}

.swal2-popup {
    /* border: var(--border) !important; */
    border: 0.5px solid rgb(255 255 255 / 32%) !important;
}

.swal2-timer-progress-bar-container {
    background: #376df9;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

#about {
    cursor: default;
}

#about b {
    color: rgb(0, 180, 50);
}

#about img {
    cursor: pointer;
    border-radius: 10px;
}

#about a {
    color: #fff;
    text-decoration: none;
}

#about a:hover {
    color: grey;
    transition: all 0.3s ease-in-out;
}

#about button {
    border: none;
    width: 170px;
    height: 40px;
    font-size: 1.2rem;
    background: linear-gradient(100deg, #376df9 0, #4b4547 75%, #222222 100%);
    box-shadow: 0 0 6px 0 rgb(251 255 0 / 82%);
    color: #ffffff;
    transition: background 0.23s;
    cursor: pointer;
}

#about button:hover {
    font-weight: bold;
}

/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/

select {
    height: 40px;
    line-height: 40px;
}

.hidden {
    display: none !important;
}

.show {
    display: block;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.fadein {
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

p,
button {
    background: transparent;
    color: #fff;
    border: none;
}

button:hover {
    opacity: 0.7 !important;
    cursor: pointer;
    /* transform: var(--btns-hover-scale); */
}

/*--------------------------------------------------------------
# Room Participants
--------------------------------------------------------------*/

#participants {
    z-index: 7;
    position: relative;
    padding: 16px 24px;
    padding-right: 16px;
    background: var(--body-bg);
    background: #151519;
    overflow: hidden;
    width: var(--msger-width);
    min-width: var(--msger-width);
    height: var(--msger-height);
    border-right: 2px solid var(--control-bg);
}

@media (max-width: 768px) {
    #participants {
        display: none;
    }

    .invite-popup {
        max-width: none;
    }
}

#roomParticipants,
#participants main {
    height: 100%;
}

.participants-box {
    height: calc(100% - 42px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.participants-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    /* cursor: move; */
    margin-bottom: 18px;
}

.participants-header button {
    cursor: pointer;
}

.participants-header-title {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    font-weight: 500;
}

#participantsCloseBtn i {
    font-size: 30px;
}

.participants-header-options {
    display: flex;
    gap: 8px;
}

.participants-header button i {
    font-size: 20px;
    color: #ababaf;
}

#roomParticipants {
    /* max-height: 680px;
    overflow: auto; */
}

#roomParticipants table {
    border-collapse: collapse;
    width: 100%;
}

#roomParticipants tr {
    height: 56px;
}

#roomParticipants td,
#roomParticipants th {
    /* border: 1px solid #444444; */
    color: #fff;
    text-align: left;
    /* padding: 8px; */
}

#roomParticipants td:not(#roomParticipants td:nth-child(2)) {
    width: 27px;
}

#roomParticipants td:first-child,
#roomParticipants th:first-child {
    position: absolute;
}

#roomParticipants td:nth-child(2) {
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;
    min-width: fit-content;
    width: fit-content;
    white-space: nowrap;
}

/* #roomParticipants tr {
    border-bottom: 1px solid #444444;
} */
/* #roomParticipants tr:nth-child(even) {
    background-color: #0c0b0b;
} */

#roomParticipants::-webkit-scrollbar {
    width: 5px;
}

#roomParticipants::-webkit-scrollbar-track {
    background: transparent;
}

#roomParticipants::-webkit-scrollbar-thumb {
    background: #404040;
}

#inviteParticipants {
    width: 100%;
    max-width: 346px;
    height: 56px;
    padding: 13px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #2c2c39;
    border-radius: 12px;
    transition: 0.3s background-color;
    color: #fff;
    cursor: pointer;
    position: absolute;
    bottom: 24px;
}

#inviteParticipants i {
    font-size: 18px;
}

#inviteParticipants:hover {
    color: #fff;
    background: #2c2c39ad;
    transform: scale(1);
}

#searchParticipants {
    width: 100%;
    padding: 13px 18px 8px;
    font-size: 1rem;
    background: #0d0e10;
    color: #ffffff;
    border-radius: 12px;
    border: none;
}

/*--------------------------------------------------------------
# Lobby users list
--------------------------------------------------------------*/

#lobby {
    z-index: 7;
    position: absolute;
    margin: auto;
    padding: 10px;
    min-width: 320px;
    background: var(--body-bg);
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    overflow: hidden;
}

.lobby-header {
    display: flex;
    justify-content: space-between;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    cursor: move;
}

#lobbyUsers {
    max-height: 680px;
    overflow: auto;
}

#lobbyUsers table {
    border-collapse: collapse;
    width: 100%;
}

#lobbyUsers td,
#lobbyUsers th {
    color: #fff;
    text-align: left;
    padding: 8px;
}

#lobbyUsers tr {
    border-bottom: 1px solid #444444;
}

#lobbyUsers::-webkit-scrollbar {
    width: 5px;
}

#lobbyUsers::-webkit-scrollbar-track {
    background: transparent;
}

#lobbyUsers::-webkit-scrollbar-thumb {
    background: #404040;
}

/*--------------------------------------------------------------
# Send File
--------------------------------------------------------------*/

#sendFileDiv,
#receiveFileDiv {
    z-index: 8;
    display: none;
    padding: 20px;
    margin: auto;
    min-width: 320px;
    background: var(--body-bg);
    border: var(--border);
    border-radius: var(--border-radius);
    color: #fff;
    overflow: hidden;
}

#sendAbortBtn,
#receiveHideBtn {
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background: transparent;
}

#sendAbortBtn:hover,
#receiveHideBtn:hover {
    color: rgb(255, 0, 0);
    transform: var(--btns-hover-scale);
    transition: all 0.3s ease-in-out;
}

progress {
    width: 0;
    min-width: 100%;
}

#imgShareSend:hover,
#imgShareReceive:hover {
    cursor: move;
}

/*--------------------------------------------------------------
# Whiteboard
--------------------------------------------------------------*/

#whiteboard {
    z-index: 4;
    position: relative;
    width: 100%;
    height: var(--msger-height);
    background: #141418;
    top: 0;
    left: 0;
    overflow: hidden;
    background-image: repeating-linear-gradient(to right, #2c2c39, #2c2c39 1px, transparent 1px, transparent 150px),
        repeating-linear-gradient(to bottom, #2c2c39, #2c2c39 1px, transparent 1px, transparent 150px);
    background-size: 150px 150px;
    box-shadow: 0px 0px 0px 1px #141418 inset;
}

.whiteboard-options-box {
    background: var(--secondary-bg);
    border-radius: 12px;
    padding: 8px;
    z-index: 9;
}

.whiteboard-options-box button {
    border-radius: 12px;
    width: 48px;
    height: 48px;
    transition: 0.3s background-color;
    position: relative;
}

.whiteboard-options-box .small-arrow {
    position: absolute;
    top: 4px;
    right: 4px;
}

.whiteboard-options-box button:hover {
    background: #2c2c39;
    opacity: 1 !important;
}

.whiteboard-options-box button:active,
.whiteboard-options-box button.active {
    background: var(--main-color);
}

.whiteboard-header-options {
    position: absolute;
    top: 16px;
    left: 24px;
}

.whiteboard-sidebar-options {
    position: absolute;
    top: 104px;
    left: 24px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.whiteboard-sidebar-options button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#whiteboardObjectBtn:hover .vertical-select-popup,
#pickFigureBtn:hover .vertical-select-popup,
#pickColorBtn:hover .horizontal-select-popup {
    opacity: 1;
    visibility: visible;
}

.vertical-select-popup {
    position: absolute;
    border-radius: 12px;
    background: var(--secondary-bg);
    overflow: hidden;
    min-width: 200px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 9999;
}

#whiteboard .vertical-select-popup {
    right: -215px;
    top: 0;
}

.vertical-select-item {
    width: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #ffffff;
    transition: background-color 0.3s;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
}

.vertical-select-item:not(.vertical-select-item:last-child)::after {
    content: '';
    width: 90%;
    height: 2px;
    background: #2c2c39;
    position: absolute;
    bottom: -1px;
    left: 5%;
}

.vertical-select-item:hover,
.horizontal-select-popup > div:hover {
    background: #2c2c39;
}

.vertical-select-item:active,
.horizontal-select-popup > div:active {
    background: #3b3b48;
}

.vertical-select-item span {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.horizontal-select-popup {
    background: var(--secondary-bg);
    width: 144px;
    height: 80px;
    padding: 8px;
    position: absolute;
    right: -159px;
    top: 0;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(4, 32px);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.horizontal-select-popup > div {
    background: var(--secondary-bg);
    width: 32px;
    height: 32px;
    transition: background-color 0.3s;
    border-radius: 12px;
    padding: 6px;
}

.horizontal-select-popup > div > div {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

#currentBoardColor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    transition: background-color 0.3s;
}

.select-popup-red-color {
    background: #a63a3a;
}
.select-popup-red-yellow {
    background: #f8e327;
}
.select-popup-red-green {
    background: #49ba2d;
}
.select-popup-red-blue {
    background: #1757fb;
}
.select-popup-red-purple {
    background: #6623bb;
}
.select-popup-red-pink {
    background: #ac0f6d;
}
.select-popup-red-black {
    background: #000000;
}
.select-popup-red-white {
    background: #fff;
}

.whiteboard-footer {
    background: #141418;
    border-radius: 12px;
    padding: 8px;
    display: flex;
    gap: 24px;
    align-items: center;
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.whiteboard-footer span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-left: 4px;
}

.whiteboard-footer button {
    background: #2c2c39;
    border-radius: 12px;
    height: 56px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding: 16px;
}

.whiteboardColorPicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    width: 20px;
    height: 20px;
    margin: 2px;
    border-radius: 50%;
}
.whiteboardColorPicker:hover {
    transform: var(--btns-hover-scale);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.whiteboardColorPicker::-webkit-color-swatch {
    border: none;
    border-radius: 20px;
    padding: 0;
}
.whiteboardColorPicker::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 20px;
    padding: 0;
}
.whiteboardColorPicker::-moz-color-swatch {
    border: none;
    border-radius: 20px;
    padding: 0;
}
.whiteboardColorPicker::-moz-color-swatch-wrapper {
    border: none;
    border-radius: 20px;
    padding: 0;
}
.whiteboardColorPicker::color-swatch {
    border: none;
    border-radius: 20px;
    padding: 0;
}
.whiteboardColorPicker::color-swatch-wrapper {
    border: none;
    border-radius: 20px;
    padding: 0;
}

/*--------------------------------------------------------------
# Video exit, pin/Unpin btn
--------------------------------------------------------------*/

#__pinUnpin,
#__videoExit {
    font-size: 1.5rem;
}

/*--------------------------------------------------------------
# Speech bar
--------------------------------------------------------------*/

.speechbar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    width: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.bar {
    width: 6px;
    border-radius: 6px;
    background: rgba(#19bb5c, 0.65);
    transition-property: height background-color;
    transition-duration: 1s;
}

/*--------------------------------------------------------------
# Pulse class effect
--------------------------------------------------------------*/

.pulsate {
    animation: pulsate 3s ease-out;
    animation-iteration-count: infinite;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

/*
z-index:
    - 1 videoMediaContainer
    - 2 initUser
    - 2 Video menu bar
    - 3 control buttons
    - 4 whiteboard
    - 5 chat
    - 6 settings
    - 7 participants/lobby
    - 8 send receive progress
*/
