/*--------------------------------------------------------------
# Video grid
--------------------------------------------------------------*/

.video-conteiner-box {
    position: relative;
    width: 100%;
    height: calc(100svh - (88px + 126px));
    min-height: calc(100svh - (88px + 126px));
    max-height: calc(100svh - (88px + 126px));
    overflow-y: auto;
    display: flex;
    /* align-items: */
    justify-content: center;
    padding: 4px;
}

.video-conteiner-box::-webkit-scrollbar {
    width: 5px;
}

.video-conteiner-box::-webkit-scrollbar-track {
    background: transparent;
}

.video-conteiner-box::-webkit-scrollbar-thumb {
    background: black;
    /*aqua;*/
}

#videoMediaContainer {
    /* z-index: 1;
    position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    width: 100% !important;
    /* height: calc(100svh - (88px + 126px));*/
    height: fit-content;
    overflow: hidden;
    margin: auto;
}

@media (orientation: portrait) {
    #videoMediaContainer.grid-three,
    #videoMediaContainer.grid-four {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50%;
    }

    #videoMediaContainer.grid-five,
    #videoMediaContainer.grid-six {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }

    #videoMediaContainer.grid-three > div:last-child,
    #videoMediaContainer.grid-five > div:last-child {
        width: 100vw !important;
    }
}

@media (orientation: landscape) {
    #videoMediaContainer.grid-three,
    #videoMediaContainer.grid-four {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50%;
    }

    #videoMediaContainer.grid-five,
    #videoMediaContainer.grid-six {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;
    }

    #videoMediaContainer.grid-three > div:nth-last-child(2),
    #videoMediaContainer.grid-five > div:nth-last-child(3) {
        min-height: 100svh;
        height: 100svh !important;
        margin-top: 200px !important;
    }
}

#videoPinMediaContainer {
    z-index: 1;
    position: absolute;
    top: 89px !important;
    left: 0 !important;
    width: 100%;
    height: var(--msger-height);
    border-radius: 0px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    /* animation: show 0.4s ease; */
    /* border: 3px solid lime; */
}

.share-center-box {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.share-center-box span {
    letter-spacing: -0.02em;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: white;
    white-space: nowrap;
}

.share-center-box button {
    padding: 13px 18px;
    width: 206px;
    height: 56px;
    background: #2c2c39;
    border-radius: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #f8f8f8;
    cursor: pointer;
}

.share-center-box button:hover {
    opacity: 1 !important;
}

#videoPinMediaContainer video {
    /* filter: blur(3px); */
}

#videoMediaContainer .Camera {
    max-width: 420px;
    height: 238px;
    min-height: 238px;
    max-height: 238px;
    transition: border 0.5s ease-in-out;
    border-radius: 12px;
    overflow: hidden;
    border-style: solid;
    border-width: 0;
}

#videoMediaContainer > .Camera::after {
    content: '';
    border: 1px solid #2e2e36;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    z-index: 1;
}

.speaks-now-view #videoMediaContainer > .Camera::after {
    border: 0px;
}

.Camera {
    position: relative;
    /* overflow: hidden; */
    display: inline-block;
    background: #141418;
    border-radius: 12px;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
}

#videoMediaContainer i {
    position: absolute;
    display: none;
    top: 0;
    color: rgb(0, 255, 71);
    font-size: 14px;
    align-items: center;
    padding: 5px;
    margin: 5px;
    width: auto;
    height: 25px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.4);
}

.audio {
    position: absolute;
    right: 0;
    color: #fff;
    margin: 5px;
    width: auto;
    height: 25px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
}

.username {
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    width: auto;
    height: 32px;
    background: #141418;
    border-radius: 6px;
    transition: opacity 0.3s;
    opacity: 0;
}

.Camera:hover .username {
    opacity: 1;
}

.fscreen {
    position: absolute;
    right: 0;
    bottom: 0px;
    color: #fff;
    margin: 5px;
    width: auto;
    height: 25px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
}

#videoMediaContainer img {
    position: absolute;
    display: none;
    width: var(--vmi-wh);
    height: var(--vmi-wh);
}

.videoMenuBar {
    z-index: 2;
    position: absolute;
    display: inline;
    top: 0;
    left: 0;
    padding: 10px;
    /* background: rgba(0, 0, 0, 0.2); */
    font-size: small;
    font-weight: bold;
    text-align: center;
    width: 100%;
    cursor: default;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.68) 100%);
    display: none;
}

.videoMenuBar input,
.videoMenuBar button {
    float: right;
    color: #fff;
    background: transparent;
    border-radius: 5px;
    display: inline;
    border: none;
}

.videoMenuBar button:hover {
    color: grey;
    transition: all 0.3s ease-in-out;
}

.videoCircle {
    position: absolute;
    width: var(--vmi-wh);
    height: var(--vmi-wh);
    border-radius: 50%;
    /* center */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.videoDefault {
    position: absolute;
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: auto;
    object-fit: var(--videoObjFit);
    cursor: pointer;
    z-index: 1;
}

.vertical-orientation {
    height: 100%;
    width: auto;
}

video:fullscreen {
    object-fit: contain;
    opacity: 1;
}

.Camera video,
.video-box video {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

input[type='range'] {
    display: none;
    color: #fff;
    width: 50px;
    cursor: pointer;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0.4) translateY(20px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@media screen and (max-width: 600px) {
    .username {
        font-size: 12px;
    }
}
@media screen and (max-width: 500px) {
    .username {
        font-size: 10px;
    }
}

@media (max-width: 1023px) {
    #videoMediaContainer {
        top: 0;
        height: 100svh;
        max-height: 100svh;
        max-height: -webkit-fill-available;
        margin: 0;
        gap: 0;
    }

    #membersScreens video {
        height: 100%;
    }

    .video-conteiner-box {
        height: 100svh;
        min-height: 100svh;
        padding: 0;
    }

    #videoMediaContainer .Camera {
        height: 100%;
        min-height: 0px;
        max-height: 100%;
        border-radius: 0;
        overflow: visible;
        overflow: hidden;
        flex: 1 1;
    }

    #videoMediaContainer > .Camera {
        border: 1px solid black;
    }

    #videoMediaContainer > .Camera::after {
        content: '';
        border: 0;
    }

    @media (orientation: portrait) {
        #videoMediaContainer {
            flex-direction: column;
        }
    }

    @media (orientation: landscape) {
        #videoMediaContainer {
            flex-direction: row;
        }

        #videoMediaContainer > .Camera {
            border-width: 1px;
        }
    }
}

/* @media (min-width: 1024px) { */
.video-conteiner-box.speaks-now-view {
    overflow-y: hidden;
    padding: 0px;
}

.video-conteiner-box.speaks-now-view video {
    max-width: 1000px;
}

.video-conteiner-box.speaks-now-view .Camera {
    width: 100% !important;
    max-width: none !important;
    height: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
    border-radius: 0 !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
}




/* } added */
/* Specific styles when the invite link is used */
.invite-link .video-container-box {
    /* Add specific styles for the video container when the invite link is active */
    background-color: #f0f0f0; /* Example: changing the background color */
}

.invite-link #videoMediaContainer {
    /* Add specific styles for the video media container when the invite link is active */
    border: 2px solid #FF6F61; /* Example: adding a border */
}

/* You can add more rules for other elements as needed */



/*added  */
